[submodule "kalpa-watcher-media"]
	path = kalpa-watcher-media
	url = https://github.com/Kalpa-com/kalpa-watcher-media.git
[submodule "kalpa-client-js"]
	path = kalpa-client-js
	url = https://github.com/Kalpa-com/kalpa-client-js.git
